@model Teed.Plugin.Groceries.Models.Franchise.FranchiseData

@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@{
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
}

<div class="raw clearfix">
    <div class="col-md-12">
        <div class="row" style="margin-bottom:10px">
            @if (Model.CanEdit)
            {
                <div class="pull-right">
                    <a asp-controller="ShippingVehicle" asp-action="Create" asp-route-franchiseId="@Model.Id" class="btn bg-blue">
                        <i class="fa fa-plus-square"></i>
                        Crear camioneta
                    </a>
                </div>
                <div class="pull-right" style="margin-right: 10px">
                    <a asp-controller="ShippingVehicle" asp-action="List" class="btn bg-blue">
                        <i class="fa fa-plus-square"></i>
                        Asignar camioneta ya creada
                    </a>
                </div>
            }
            else
            {
                <h3 style="text-align: center;margin-top: 0px !important;">Camionetas</h3>
            }
        </div>

        <div class="panel panel-default">
            <div id="element-grid"></div>
        </div>
        <script>
            $(document).ready(function () {
                    var data = {
                    franchiseId: @Model.Id,
                };

                $("#element-grid").kendoGrid({
                dataSource: {
                    type: "json",
                        transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ListData", "ShippingVehicle"))",
                                type: "POST",
                                dataType: "json",
                                data: data
                            }
                        },
                        schema: {
                        data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                    refresh: true,
                        pageSizes: [@(gridPageSizes)],
                        @await Html.PartialAsync("_GridPagerMessages")
                    },
                    editable: {
                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [
                        {
                            field: "Brand",
                            title: "Marca y submarca",
                        },
                        {
                            field: "Year",
                            title: "Año",
                        },
                        {
                            field: "Plates",
                            title: "Placas",
                        },
                        {
                            field: "IsActive",
                            title: "¿Está activa?",
                        },
                    ]
                });
            });
        </script>
    </div>
</div>