@model OrderModel
@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.Title = T("Admin.Orders.EditOrderDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Orders");
}

<form asp-controller="Order" asp-action="Edit" method="post" id="order-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Orders.EditOrderDetails") - @Model.CustomOrderNumber
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Orders.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            @if (Model.Bill == null && Model.isFacurifyInstalled)
            {
                <button type="button" class="btn bg-olive modal-trigger" data-target="modal1">
                    <i class="fa fa-file-excel-o"></i>
                    Generar factura
                </button>
            }
            else if (Model.Bill != null && string.IsNullOrEmpty(Model.Bill.CfdiUuid))
            {
                <button type="button" class="btn bg-red" onclick="alert('La factura se está generando, por favor inténtalo más tarde.')">
                    <i class="fa fa-file-excel-o"></i>
                    Descargar factura
                </button>
            }
            else if (Model.Bill != null && !string.IsNullOrEmpty(Model.Bill.CfdiUuid))
            {
                <button type="button" class="btn bg-olive modal-trigger-2" data-target="modal2">
                    <i class="fa fa-file-excel-o"></i>
                    Descargar factura
                </button>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "order-option-buttons", additionalData = Model.Id })

            @if (!Model.IsLoggedInAsVendor)
            {
                @*<span id="order-delete" class="btn bg-red">
                        <i class="fa fa-trash-o"></i>
                        @T("Admin.Common.Delete")
                    </span>*@
            }
            <input type="submit" id="btnRefreshPage" style="display: none" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshPage').click(function () {
                        //refresh pageed
                        location.reload();
                    });
                });
            </script>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_order_details_buttons", additionalData = Model.Id })
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="order-edit">
                <nop-tab asp-name="tab-info" asp-title="@T("Admin.Orders.Info")" asp-default="true">@await Html.PartialAsync("_OrderDetails.Info", Model)</nop-tab>
                <nop-tab asp-name="tab-billing-info" asp-title="@T("Admin.Orders.BillingInfo")">@await Html.PartialAsync("_OrderDetails.Billing", Model)</nop-tab>
                <nop-tab asp-name="tab-shipping-info" asp-title="@T("Admin.Orders.ShippingInfo")">@await Html.PartialAsync("_OrderDetails.Shipping", Model)</nop-tab>
                <nop-tab asp-name="tab-products" asp-title="@T("Admin.Orders.Products")">@await Html.PartialAsync("_OrderDetails.Products", Model)</nop-tab>
                @if (!Model.IsLoggedInAsVendor)
                {
                    <nop-tab asp-name="tab-order-notes" asp-title="@T("Admin.Orders.OrderNotes")">@await Html.PartialAsync("_OrderDetails.Notes", Model)</nop-tab>
                }
            </nop-tabs>
        </div>
    </div>

    @{
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "order-edit");
        eventPublisher.Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }
</form>
<div id="dialog" title="Generar factura">
    @if (Model.CustomerBalanceUsedAmount > 0)
    {
        <div class="col-md-12">
            <br />
            <div class="label-wrapper">
                <p style="color:red;">Atención: Esta orden fue pagada con saldo de forma parcial o total.</p>
            </div>
        </div>
    }
    @if (Model.ProductsWhihoutCode?.Count > 0)
    {
        <div class="col-md-12">
            <div class="label-wrapper">
                <p style="color:red;">Los siguientes productos no cuentan con clave de producto del SAT, en caso de continuar, se les asignará el código 01010101 (No existe en el catálogo).</p>
            </div>
            <ul>
                @foreach (var product in Model.ProductsWhihoutCode)
                {
                    <li>@product.Sku (<a href="/Admin/Product/Edit/@product.Id" target="_blank">Editar producto</a>)</li>
                }
            </ul>
            <br />
        </div>
    }
    @if (Model.CustomerFacturifyAddresses?.Count > 0)
    {
        <div class="col-md-12" style="margin-top:1em;">
            <div class="form-group col-md-12">
                <div class="col-md-12" style="padding:0">
                    <div class="label-wrapper">
                        <label class="control-label">Datos de facturación</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group" style="width:100%">
                        <select class="form-control" id="address-select">
                            @foreach (var address in Model.CustomerFacturifyAddresses)
                            {
                                <option data-rfc="@(address.RFC)" data-email="@(address.Email)" value="@(address.Id)">@(address.BusinessName)</option>
                            }
                            <option value="0">+ Agregar datos de facturación</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <script>

            function showData() {
                $("#selected-email").html($("#address-select option:selected").data("email"));
                $("#selected-rfc").html($("#address-select option:selected").data("rfc"));
                $("#selected-business-name").html($("#address-select option:selected").text());
                $("#selected-address-data").show();
            }

            $(document).ready(function () {
                showData();

                $("#address-select").on('change', function () {
                    if ($(this).val() == 0) {
                        $("#selected-address-data").hide();
                        $("#new-address-form").show();
                    }
                    else {
                        $("#new-address-form").hide();
                        showData();
                    }
                });
            });
        </script>
    }
    else
    {
        <p>Ingresa los datos de facturación del cliente:</p>
        <script>$(document).ready(function () { $("#new-address-form").show() });</script>

    }
    @if (Model.isFacurifyInstalled)
    {
        <script>
            $.ajax({
                url: '/Admin/Facturify/GetPaymentForms',
                method: 'get',
                success: function (data) {
                    var html = "";
                    $.each(data, function (index, element) {
                        html += "<option value='" + element.id + "'>" + element.value + "</option>";
                    });
                    $("#payment-form-select").html(html);
                }
            });

            $.ajax({
                url: '/Admin/Facturify/GetCfdiUses',
                method: 'get',
                success: function (data) {
                    var html = "";
                    $.each(data, function (index, element) {
                        html += "<option value='" + element.id + "'>" + element.value + "</option>";
                    });
                    $("#cfdi-use").html(html);
                }
            });
        </script>
    }
    <div class="col-md-12" style="margin-top:1em;display:none" id="selected-address-data">
        <div><strong>Razón Social:</strong> <span id="selected-business-name"></span></div>
        <div><strong>RFC:</strong> <span id="selected-rfc"></span></div>
        <div><strong>Correo electrónico:</strong> <span id="selected-email"></span></div>
    </div>
    <div class="col-md-12" style="margin-top:1em;display:none" id="new-address-form">
        <div class="form-group col-md-12">
            <div class="col-md-3" style="padding:0">
                <div class="label-wrapper">
                    <label class="control-label">Razón social</label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group" style="width:100%">
                    <input class="form-control" id="business-name" />
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="col-md-3" style="padding:0">
                <div class="label-wrapper">
                    <label class="control-label">RFC</label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group" style="width:100%">
                    <input class="form-control" id="rfc" />
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="col-md-3" style="padding:0">
                <div class="label-wrapper">
                    <label class="control-label">Email</label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group" style="width:100%">
                    <input class="form-control" id="email" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:1em" id="payment-form">
        <p><strong>Selecciona la forma de pago:</strong></p>
        <select class="form-control" id="payment-form-select"></select>
        <div id="card-number" style="display:none;margin-top: 1em;">
            <div style="display: inline-flex">
                <p><strong>4 últimos dígitos de la tarjeta:</strong></p>
                <input type="text" id="card-number-input" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:1em">
        <p><strong>Selecciona el uso CFDI:</strong></p>
        <select class="form-control" id="cfdi-use"></select>
    </div>
    <div class="col-md-12" style="text-align:center;margin-top:2em;display:none" id="loading">
        <i class="fa fa-circle-o-notch fa-pulse fa-3x fa-fw fa-circle-o-notch" style="padding:0!important"></i>
        <span style="display:block;margin-top:10px">Generando factura...</span>
    </div>
    <div style="display:none;color:red;margin-top:2em" class="col-md-12" id="error-message"></div>
    <div style="display:none;color:green;margin-top:2em" class="col-md-12" id="success-message"></div>
</div>
@if (Model.Bill != null)
{
    <div id="dialog2" title="Descargar factura">
        <div class="col-md-12" style="margin-top:1em" id="selected-address-data">
            <div><strong>Serie:</strong> <span>@(Model.Bill?.Serie)</span></div>
            <div><strong>Folio:</strong> <span>@(Model.Bill?.Folio)</span></div>
            <div><strong>Fecha:</strong> <span>@(Model.Bill?.CreatedOnUtc.ToString("dd-MM-yyyy hh:mm tt"))</span></div><br /><br />

            @{
                var billAddress = Model.CustomerFacturifyAddresses.Where(x => x.Id == Model.Bill?.CustomerBillingAddressId).FirstOrDefault();
                if (billAddress != null)
                {
                    <div><strong>Razón social:</strong> <span>@(billAddress.BusinessName)</span></div>
                    <div><strong>RFC:</strong> <span>@(billAddress.RFC)</span></div>
                    <div><strong>Correo electrónico:</strong> <span>@(billAddress.Email)</span></div>
                }
            }
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var dialog2;
            dialog2 = $("#dialog2").dialog({
                autoOpen: false,
                height: 450,
                width: 565,
                modal: true,
                buttons: {
                    "Cancelar factura": function (e) {
                        let button = e.target;
                        $(button).hide();
                        var r = confirm("¿Seguro que deseas cancelar esta factura?");
                        if (r === true) {
                            $.ajax({
                                url: '/Admin/Facturify/CancelBill?uuid=' + '@Model.Bill.CfdiUuid',
                                method: 'put',
                                success: function (data) {
                                    $("#loading").hide();
                                    alert("La factura fue cancelada correctamente.")
                                    location.reload();
                                },
                                error: function (e) {
                                    $("#loading").hide();
                                    $("#error-message").html(e.responseText);
                                    $("#error-message").show();
                                    $(button).show();
                                }
                            });
                        }
                    },
                    "Descargar PDF": function (e) {
                        var dlink = document.createElement('a');
                        dlink.download = '@Model.Bill?.CfdiUuid' + '.pdf';
                        dlink.href = 'data:application/pdf;base64,' + '@Html.Raw(Model.Bill?.PdfBase64)';
                        dlink.click();
                        dlink.remove();
                    },
                    "Descargar XML": function (e) {
                        var dlink = document.createElement('a');
                        dlink.download = '@Model.Bill?.CfdiUuid' + '.xml';
                        dlink.href = 'data:text/plain;base64,' + '@Html.Raw(Model.Bill?.XmlBase64)';
                        dlink.click();
                        dlink.remove();
                    }
                }
            });

            $(".modal-trigger-2").on("click", function () {
                $("#dialog2").dialog("open");
            });
        });
    </script>
}

<script>
    $(document).ready(function () {
        $("#card-number-input").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //do nothing
                return false;
            }
        });
        document.getElementById('card-number-input').addEventListener('keyup', () => {
            if (document.getElementById('card-number-input').value.length > 4) {
                document.getElementById('card-number-input').value =
                    document.getElementById('card-number-input').value.slice(0, 4);
            }
        });
        $("#payment-form-select").on('change', function () {
            let selectedValue = $(this).val();
            if (selectedValue == 3 || selectedValue == 4 || selectedValue == 28) {
                $("#card-number").show();
            }
            else {
                $("#card-number-input").val("");
                $("#card-number").hide();
            }
        });

    var dialog;
    dialog = $("#dialog").dialog({
        autoOpen: false,
        height: 500,
        width: 565,
        modal: true,
        buttons: {
            "Generar factura": function (e) {
                let button = e.target;
                $(button).hide();

                $("#loading").show();
                $("#error-message").hide();
                $("#success-message").hide();

                let body = {
                    faturifyAddressId: $("#address-select option:selected").val(),
                    businessName: $("#business-name").val(),
                    rfc: $("#rfc").val(),
                    email: $("#email").val(),
                    customerId: @(Model.CustomerId),
                    orderId: @(Model.Id),
                    paymentForm: $("#payment-form-select option:selected").val(),
                    cardDigits: $("#card-number-input").val(),
                    cfdiUse: $("#cfdi-use  option:selected").val()
                };

                $.ajax({
                    url: '/Admin/Facturify/CreateBill',
                    method: 'post',
                    data: body,
                    success: function (data) {
                        $("#loading").hide();
                        $("#success-message").html("La factura se generó correctamente.");
                        $("#success-message").show();
                        location.reload();
                    },
                    error: function (e) {
                        $("#loading").hide();
                        $("#error-message").html(e.responseText);
                        $("#error-message").show();
                        $(button).show();
                    }
                });
            }
        }
    });

    $(".modal-trigger").on("click", function () {
        $("#dialog").dialog("open");
    });
});
</script>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="order-delete" />
