@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <h4>@T("Account.PasswordRecovery")</h4>

    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="card green lighten-1">
                <div class="card-content white-text">
                    <p>
                        @Model.Result
                    </p>
                </div>
            </div>
        }        

        <form asp-route="PasswordRecovery" method="post">
            <div class="card ">
                <div class="card-content">
                    <p>
                        <div asp-validation-summary="ModelOnly" class="text-red"></div>
                    </p>
                    <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                    <div class="row">
                        <div class="input-field col s12">
                            <input asp-for="Email" class="validate" />
                            <label asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
                            <span asp-validation-for="Email" class="helper-text red-text"></span>
                        </div>
                    </div>
                </div>
                <div class="card-action center-align">
                    <button type="submit" class="btn" name="send-email">
                        @T("Account.PasswordRecovery.RecoverButton")
                    </button>
                </div>
            </div>            
        </form>
    </div>
</div>