@model Teed.Plugin.Groceries.Models.ShippingVehicle.CreateEditViewModel
@{
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("Groceries.ShippingVehicle");
}
<style>
    #map {
        height: 600px;
    }
</style>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" value="@Model.Id" />
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Editar vehículo
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">regresar a la lista de vehículos</a>
            </small>
        </h1>
        <div class="pull-right">
            <span id="region-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            <button type="submit" asp-action="Edit" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <nop-tabs id="categories-price">
                    <nop-tab asp-name="tab-vehicle" asp-title="Info" asp-default="true">
                        @await Html.PartialAsync("~/Plugins/Teed.Plugin.Groceries/Views/ShippingVehicle/_CreateOrUpdate.cshtml", Model)
                    </nop-tab>
                    <nop-tab asp-name="tab-log" asp-title="Bitácora">
                        <div class="raw clearfix">
                            <div class="col-md-12">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Bitácora
                                        </div>
                                        <div class="panel-body">
                                            <pre>@Model.Log</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nop-tab>
                </nop-tabs>
            </div>
        </div>
    </div>
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="region-delete" />