@model Teed.Plugin.CustomPages.Models.CustomPages.EditViewModel
@{
    var imageNote = "Se recomienda que las imagenes cargadas sean del mismo tamaño.";
}
<div class="panel panel-default">
    <div class="panel-heading">
        Imagen 1 de las cajas
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="BoxPicture15Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxPicture15Id" />
                <span asp-validation-for="BoxPicture15Id"></span>
                <em>@imageNote</em>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label>URL</label>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxLink15" />
                <span asp-validation-for="BoxLink15"></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Imagen 2 de las cajas
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="BoxPicture16Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxPicture16Id" />
                <span asp-validation-for="BoxPicture16Id"></span>
                <em>@imageNote</em>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label>URL</label>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxLink16" />
                <span asp-validation-for="BoxLink16"></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Imagen 3 de las cajas
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="BoxPicture17Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxPicture17Id" />
                <span asp-validation-for="BoxPicture17Id"></span>
                <em>@imageNote</em>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label>URL</label>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxLink17" />
                <span asp-validation-for="BoxLink17"></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Imagen 4 de las cajas
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="BoxPicture18Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxPicture18Id" />
                <span asp-validation-for="BoxPicture18Id"></span>
                <em>@imageNote</em>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label>URL</label>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxLink18" />
                <span asp-validation-for="BoxLink18"></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Imagen 5 de las cajas
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="BoxPicture40Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxPicture40Id" />
                <span asp-validation-for="BoxPicture40Id"></span>
                <em>@imageNote</em>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label>URL</label>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxLink40" />
                <span asp-validation-for="BoxLink40"></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Imagen 6 de las cajas
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="BoxPicture41Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxPicture41Id" />
                <span asp-validation-for="BoxPicture41Id"></span>
                <em>@imageNote</em>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label>URL</label>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="BoxLink41" />
                <span asp-validation-for="BoxLink41"></span>
            </div>
        </div>
    </div>
</div>