@model CheckoutCompletedModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}
<div class="page checkout-page order-completed-page">
    <div class="page-title">
        <h1>No pudimos registrar tu pago</h1>
    </div>
    <div class="page-body checkout-data">
        <div class="section order-completed">
            <div class="title">
                <p>Ocurrió un problema cuando intentamos registrar tu pago. Por favor, <a href="/contactus">contáctanos</a> para poder ayudarte a culminar tu proceso de pago y que puedas recibir tus productos lo antes posible.</p>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                </div>
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>
            <div class="buttons">
                <input type="button" value="@T("Checkout.ThankYou.Continue")" class="btn order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_completed_bottom", additionalData = Model.OrderId })
    </div>
</div>
