@model Teed.Nop.Plugin.Widgets.NivoSlider2.Models.ConfigurationModel
@{ 
    var imageText = "Se recomienda que las imagenes cargadas sean del mismo tamaño. El tamaño recomendado es: 380x190 píxeles.";

}
<div class="panel panel-default">
    <div class="panel-heading">
        Primera imagen en conjunto de 3
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Picture3Id_OverrideForStore" asp-input="Picture3Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Picture3Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Picture3Id" />
                <span asp-validation-for="Picture3Id"></span>
                <em>@imageText</em>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Text3_OverrideForStore" asp-input="Text3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Text3" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Text3" />
                <span asp-validation-for="Text3"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Link3_OverrideForStore" asp-input="Link3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Link3" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Link3" />
                <span asp-validation-for="Link3"></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Segunda imagen en conjunto de 3
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Picture4Id_OverrideForStore" asp-input="Picture4Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Picture4Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Picture4Id" />
                <span asp-validation-for="Picture4Id"></span>
                <em>@imageText</em>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Text4_OverrideForStore" asp-input="Text4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Text4" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Text4" />
                <span asp-validation-for="Text4"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Link4_OverrideForStore" asp-input="Link4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Link4" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Link4" />
                <span asp-validation-for="Link4"></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Tercera imagen en conjunto de 3
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Picture5Id_OverrideForStore" asp-input="Picture5Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Picture5Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Picture5Id" />
                <span asp-validation-for="Picture5Id"></span>
                <em>@imageText</em>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Text5_OverrideForStore" asp-input="Text5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Text5" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Text5" />
                <span asp-validation-for="Text5"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Link5_OverrideForStore" asp-input="Link5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Link5" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Link5" />
                <span asp-validation-for="Link5"></span>
            </div>
        </div>
    </div>
</div>