@model AdminHeaderLinksModel
@if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
{
    <div class="navbar-fixed top-small-navbar">
        <nav class="black z-depth-0">
            <div class="nav-wrapper container">
                <ul class="left">
                    @if (Model.IsCustomerImpersonated)
                    {
                        <li>
                            <a href="@Url.RouteUrl("Logout")" title="@T("Account.ImpersonatedAs.Finish.Hint")">
                                @T("Account.ImpersonatedAs.Finish")
                            </a>
                        </li>
                    }
                    @if (Model.DisplayAdminLink)
                    {
                        <li>
                            <a href="@Url.Content("~/Admin")">
                                @T("Account.Administration")
                            </a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.EditPageUrl))
                    {
                        <li>
                            <a href="@Model.EditPageUrl">
                                @T("Common.ManagePage")
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
}