@model CategoryModel
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;


    var notFilteredItemsGroups = Model.PagingFilteringContext.SpecificationFilter.NotFilteredItems.GroupBy(x => x.SpecificationAttributeName);
    var alreadyFilteredItemsGroups = Model.PagingFilteringContext.SpecificationFilter.AlreadyFilteredItems.GroupBy(x => x.SpecificationAttributeName);
}

@*category breadcrumb*@
@section Breadcrumb
    {
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <nav class="white z-depth-0 grey-text">
            <div class="nav-wrapper container">
                <div class="col s12 grey-text">
                    <style>
                        nav {
                            width: 100%;
                            height: auto;
                            line-height: 56px;
                        }

                        @@media(max-width:600px) {
                            .breadcrumb {
                                font-size: 17px;
                            }
                        }
                    </style>
                    <a class="breadcrumb" href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>

                    @foreach (var cat in Model.CategoryBreadcrumb)
                    {
                        var isLastCategory = cat.Id == Model.Id;
                        @if (isLastCategory)
                        {
                            <span class="breadcrumb" title="@cat.Name">@cat.Name</span>
                        }
                        else
                        {
                            <a class="breadcrumb" href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                        }
                    }
                </div>
            </div>
        </nav>
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_after_breadcrumb", additionalData = Model.Id })
    }
}

<div class="section col s12 m12 push-l3 l9">
    <h1 class="category-page-title">@Model.Name</h1>
    <div class="category-page-body">
        <style>
            @@media (max-width: 600px) {
                .category-page-body {
                    margin: -7%;
                    margin-top: 0px;
                }
                /*.card-action {
                    height: 5.3em;
                }*/
            }
        </style>

        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_top", additionalData = Model.Id })
        @*description*@
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p>
                @Html.Raw(Model.Description)
            </p>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_subcategories", additionalData = Model.Id })
        @*subcategories*@
        @if (Model.SubCategories.Count > 0)
        {
            <div class="section row">
                @foreach (var item in Model.SubCategories)
                {
                    <div class="col s6 m4">
                        <div class="card" style="box-shadow: none !important;">
                            <div class="card-image subcategory">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title">
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <style>
                .card .card-image.subcategory{
                    height: 100px !important
                }
            </style>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_featured_products", additionalData = Model.Id })
        @*featured products*@
        @if (Model.FeaturedProducts.Count > 0)
        {
            <div class="section">
                <h4>@T("HomePage.Products")</h4>

                <div class="row">
                    @foreach (var item in Model.FeaturedProducts)
                    {
                        <div class="col s6 m4">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    }
                </div>
            </div>
        }
        @**sorting*@

        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_after_featured_products", additionalData = Model.Id })

        @if (Model.SubCategories.Count > 0 && Model.Products.Count > 0)
        {
            <div class="col s12 m12">
                <h4>Productos en esta categoría</h4>
            </div>
        }
        <div class="product-filters col s6 m6 hide-on-large-only" style="background: white;padding-bottom: 1%;">
            @*filtering*@
            @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter)
            }
            @*filtering*@
            @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter)
            }
        </div>
        @if (Model.Products.Count > 0)
        {
            <div class="col s6 m6 l12">
                @await Html.PartialAsync("_CatalogSelectors", Model.PagingFilteringContext)
            </div>
        }

        @if (Model.Products.Count > 0)
        {
            @if (Model.PagingFilteringContext.SpecificationFilter.AlreadyFilteredItems.Count > 0)
            {
                <div class="filtered-items teed-primary" style="color:white;padding: 1em;margin-bottom: 1em;">
                    <ul>
                        <li class="title" style="margin-top:1%;">
                            @*@T("Filtering.SpecificationFilter.CurrentlyFilteredBy")*@
                            Se están mostrando productos con las siguientes características:
                        </li>
                        @foreach (var group in alreadyFilteredItemsGroups)
                        {
                            <li class="item margin-li">
                                <strong>@group.First().SpecificationAttributeName</strong>:
                                @group.ToList().Aggregate(string.Empty, (current, next) =>
                                $"{(string.IsNullOrEmpty(current) ? string.Empty : $"{current} {T("Filtering.SpecificationFilter.Separator")}")}{next.SpecificationAttributeOptionName}")
                            </li>
                        }
                    </ul>
                </div>
                <style>
                    .margin-li {
                        margin-left: 5%;
                        margin-top: 1%;
                    }
                </style>
                <div class="remove-filter" style="margin-bottom:1%;margin-top: -1%;">
                    <a href="@Model.PagingFilteringContext.SpecificationFilter.RemoveFilterUrl">Quitar los filtros</a>
                </div>
            }

            <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col s6 m4" style="margin-top:2% !important;">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            @if (Model.PagingFilteringContext.SpecificationFilter.AlreadyFilteredItems.Count > 0)
            {
                <div class="filtered-items">
                    <ul>
                        <li class="title">
                            @*@T("Filtering.SpecificationFilter.CurrentlyFilteredBy")*@
                            No se encontraron productos con las siguientes características:
                        </li>
                        @foreach (var group in alreadyFilteredItemsGroups)
                        {
                            <li class="item margin-li">
                                <strong>@group.First().SpecificationAttributeName</strong>:
                                @group.ToList().Aggregate(string.Empty, (current, next) =>
                                                                                                   $"{(string.IsNullOrEmpty(current) ? string.Empty : $"{current} {T("Filtering.SpecificationFilter.Separator")}")}{next.SpecificationAttributeOptionName}")
                            </li>
                        }
                    </ul>
                </div>
                <style>
                    .margin-li {
                        margin-left: 5%;
                        margin-top: 1%;
                    }
                </style>
                <div class="remove-filter" style="margin-bottom:1%;margin-top: -1%;">
                    <a href="@Model.PagingFilteringContext.SpecificationFilter.RemoveFilterUrl">Quitar los filtros</a>
                </div>
            }
        }
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_bottom", additionalData = Model.Id })
    </div>
</div>
@await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_filters", additionalData = Model.Id })
<div class="product-filters col s12 m12 pull-l9 l3 show-on-large hide-on-med-and-down">
    @*filtering*@
    @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
    {
        @await Html.PartialAsync("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter)
    }
    @*filtering*@
    @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
    {
        @await Html.PartialAsync("_FilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter)
    }

    @*@await Html.PartialAsync("_FilterPriceSlider")*@
</div>
@await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_product_list", additionalData = Model.Id })
