@model Teed.Plugin.Medical.Models.Prescription.PrescriptionsModel
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@{
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("TeedMedical.Prescriptions");
    var controllerName = "Prescription";
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
}

<form asp-controller="Plugin" asp-action="List" method="post" id="plugins-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Recetas
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="element-grid"></div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#element-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("ListData", controllerName))",
                                            type: "POST",
                                            dataType: "json"
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                detailInit: detailInit,                                                               
                                scrollable: false,
                                columns: [
                                    {
                                    field: "CreationDate" ,
                                    title: "Fecha de creación",
                                    template: '<a href="Details/#=Id#">#=CreationDate# - #=CreationTime#</a>'
                                    },
                                    {
                                        field: "Patient",
                                        title: "Nombre del paciente",
                                        template: '#=Patient.FirstName# #=Patient.LastName#'
                                    },
                                    {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                            });

                            //details grid
                            function detailInit(e) {
                                $("<div/>").appendTo(e.detailCell).kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("GetPrescriptionProductsList", controllerName))?id="+e.data.Id,
                                                type: "POST",
                                                dataType: "json",
                                                data: addAntiForgeryToken
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    scrollable: false,
                                    sortable: true,
                                    pageable: {
                                        refresh: true,
                                        numeric: false,
                                        previousNext: false,
                                        info: false,
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    columns: [
                                        {
                                            field: "ItemName",
                                            title: "@T("Admin.Orders.Shipments.Products.ProductName")",
                                            width: 400
                                        },{
                                            field: "Dosage",
                                            title: "Dosificación",
                                            width: 150
                                        }
                                    ]
                                });
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</form>