@model List<string>
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@{
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("Payroll.Assistance");
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var controllerName = "Assistance";
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        Bitácora de asistencia
    </h1>
</div>
<div class="content">
    <div class="form-horizontal">
        @if (Model.Count > 0)
        {
            <div class="panel panel-default">
                <h4 style="font-weight: bold;text-align: center;">
                    Hay empleados con Número de Empleado vacío o que no existen en el Reloj Checador:
                </h4>
                <div class="panel-body">
                    <ul>
                        @foreach (var userInfo in Model)
                        {
                            <li>@userInfo</li>
                        }
                    </ul>
                </div>
            </div>
        }
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="element-grid"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#element-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ListData", controllerName))",
                        type: "POST",
                        dataType: "json",
                        data: null
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            editable: {
                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "FullName",
                    title: "Nombre",
                    template: function (dataItem) {
                        // anchor start
                        return '<a href="@Url.Action("Edit", "PayrollEmployee")?id=' + dataItem.Id +
                            '" target="_blank">' + dataItem.FullName + ' <i class="fa fa-pencil"></i>' +
                            '</a>';
                    }
                },
                {
                    field: "EmployeeNumber",
                    title: "Número de empleado",
                },
                {
                    field: "NameInChecker",
                    title: "Nombre en el Reloj Checador",
                },
                {
                    field: "Id",
                    title: "Asistencias",
                    width: 50,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: function (dataItem) {
                            // anchor start
                        return '<a class="btn ' +
                            // class for color
                            (dataItem.EmployeeNumber > 0 && dataItem.ExistsInChecker ? 'btn-success' : 'btn-error disabled') +
                            // href
                            '" href="DatesOfEmployee?customerId=' + kendo.htmlEncode(dataItem.CustomerId) +
                            // icon
                            '">' + (dataItem.EmployeeNumber > 0 && dataItem.ExistsInChecker ? '<i class="fa fa-eye"></i>' : '') +
                            // text for anchor
                            (!dataItem.ExistsInChecker ? 'NÚMERO DE EMPLEADO NO EXISTE' :
                            dataItem.EmployeeNumber > 0 ? 'Ver asistencias' : 'SIN NÚMERO DE EMPLEADO') +
                            // end of anchor
                            '</a>';
                    }
                }
            ]
        });
    });
</script>