@model ProductReviewOverviewModel
@using System.Globalization
@{
    var ratingPercent = 0;
    double starsDec = 0.0;
    int stars = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
        starsDec = ratingPercent * 5 / 100;
        stars = (int)Math.Round(starsDec);
    }
}
@if (Model.AllowCustomerReviews)
{
    <div class="product-reviews-overview" @if (Model.TotalReviews > 0) { <text>itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"</text>}>
        <div class="product-review-box">
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
        </div>

        @if (Model.TotalReviews > 0)
        {
            <span class="product-description-rating">
                @for(int i = 1; i <= 5; i++)
                {
                    if(i <= stars)
                    {                            
                        <i class="material-icons">star</i>
                    }
                    else
                    {
                        <i class="material-icons">star_border</i>
                    }
                }
            </span>

            <div class="product-review-links">
                <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">@Model.TotalReviews
                    @T("Reviews.Overview.Reviews")</a> <span class="separator">|</span> <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">@T("Reviews.Overview.AddNew")</a>
            </div>
            @*hidden microdata info*@
            var ratingValue = ratingPercent / (decimal)20;
            <span itemprop="ratingValue" style="display: none;">@ratingValue.ToString("0.0", new CultureInfo("en-US"))</span>
            <span itemprop="reviewCount" style="display: none;">@Model.TotalReviews</span>
        }
        else
        {
            <p class="product-no-reviews">
                <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">@T("Reviews.Overview.First")</a>
            </p>
        }
    </div>
}